.form,
.form fieldset,
.input {
    display: grid;
}

.form {
    row-gap: 40px;
    max-width: 480px;
    background-color: var(--clr-white-900);
}

@media screen and (min-width: 928px) {
    .form {
        grid-template-columns: 1fr 400px;
        column-gap: 24px;
        max-width: 928px;
        border-radius: 36px;
        padding: 24px;
    }
}

.mobile_img {
    width: 100%;
}

.desktop_img {
    width: 400px;
}

@media screen and (max-width: 927px) {
    .desktop_img {
        display: none;
    }
}

@media screen and (min-width: 928px) {
    .mobile_img {
        display: none;
    }
}

.form fieldset {
    row-gap: 24px;
    margin-inline: 24px;
    border: none;
}

@media screen and (min-width: 928px) {
    .form fieldset {
        height: fit-content;
        align-self: center;
        margin-inline: 40px;
    }
}

.form ul {
    margin-bottom: 16px;
    list-style: none;
}

.form li {
    position: relative;
    line-height: 150%;
    margin-left: 37px;
}

.form li:not(:last-child) {
    margin-bottom: 10px;
}

.form li::before {
    content: url('../../assets/icon-list.svg');
    position: absolute;
    top: 0;
    left: -37px;
}

.input {
    row-gap: 8px;
}

.input span {
    font-size: 12px;
}

.input input,
.button {
    font-family: inherit;
    height: 56px;
    border-radius: 8px;
}

.input input {
    padding-inline: 24px;
    border: 1px solid var(--clr-grey-100);
}

.input input::placeholder {
    color: var(--clr-blue-900);
    opacity: 0.5;
}

.input input:is(:hover, :focus) {
    outline: none;
    border-color: var(--clr-blue-900);
}

.button {
    position: relative;
    color: var(--clr-white-900);
    font-weight: bold;
    background-color: var(--clr-blue-900);
    border: none;
    overflow: hidden;
    isolation: isolate;
    transition: box-shadow 0.3s ease-in-out;
}

.button::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradient-main);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button:is(:hover, :focus) {
    box-shadow: 0 16px 32px var(--clr-orange-100);
}

.button:is(:hover, :focus)::after {
    opacity: 1;
}