#root {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 16px;
    color: var(--clr-blue-900);
    background-color: var(--clr-blue-600);
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

p,
label {
    line-height: 150%;
}

label {
    font-size: 12px;
    font-weight: bold;
}

button {
    font-family: inherit;

}